html {
    margin: 0;
    padding: 0;
    color: black;
}

body {
    background-color: #d0b5f7;
    font-size: 20px;
}

.linkWrapper {
    margin: 20px 0px;
}

a, input {
    padding: 5px 10px;
    border: 2px solid black;
    text-decoration: none;
    background-color: #d0b5f7;
    color: black;
}

h1 {
    font-size: 18pt;
    color: black;
    font-weight: bold;
}

label {
    font-size: 14pt;
}

input {
    margin: 2pt;
}

table {
    border: 1px solid pink;
    width: 60%;
    min-height: 100%;
}

td {
    font-family: 'Arial, sens-serif';
    font-size: 10pt;
    color: white;
    text-align: center;
    border: 1pt solid;
    border-color: black;
}

.table-title {
    font-family: 'Arial, sens-serif';
    font-weight: bold;
    font-size: 12pt;
    color: black;
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}