<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Параметры запроса 2</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
  <h2 align="center">Введите единицы измерения (шт, гр, кг). Будут выведены записи с указанными Вами единицами измерения</h2>
    <div align="center">
        <form action="" method="POST">
            <label for="prod_measure1">Единица измерения 1 </label>
            <input name="prod_measure1" id="prod_measure1" type="text" placeholder="prod_measure1">
            <br><br>

            <label for="prod_measure2">Единица измерения 2 </label>
            <input name="prod_measure2" id="prod_measure2" type="text" placeholder="prod_measure2">
            <br><br>
            <input type="submit" value="Выполнить запрос 2">
        </form>
    </div>
    <br>
    <div align="center" class="linkWrapper">
        <a href="{{ url_for('bp_query.queries_list') }}">Назад</a>
    </div>
</body>
</html>