<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Параметры запроса 1</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
  <h2 align="center">Введите букву. Будут выведены записи с названием, начинающимся с указанной Вами буквы.</h2>
    <div align="center">
        <form action="" method="POST">
            <label for="prod_name_starts">Буква</label>
            <input name="prod_name_starts" id="prod_name_starts" type="text" placeholder="prod_name_starts">
            <br><br>
            <input type="submit" value="Выполнить запрос 1">
        </form>
    </div>
    <br>
    <div align="center" style="margin-top: 25px;">
        <a href="{{ url_for('bp_query.queries_list') }}">Назад</a>
    </div>
</body>
</html>